@import "tailwindcss";

@theme {
  --font-navbar: var(--font-orbitron), system-ui, sans-serif;
  --font-inter: var(--inter-default), system-ui, sans-serif;
}

@layer components {
  .navbar-text {
    @apply text-[#F1F1F1];
    font-family: var(--font-navbar, 'Orbitron');
  }

  .navbar-button {
    @apply py-2 px-3 rounded-lg cursor-pointer hover:bg-gray-800 transform duration-400;
  }

  .subbar-button {
    @apply py-2 px-3 rounded-lg cursor-pointer hover:text-[#0A84FF] transform duration-400;
  }
}